body{
    margin: 0;
    background-color: #f3f4ee;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.nav_box>nav{
    float: right;
    padding: 27px 0 7px;
}
.nav_box>nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav_box>nav>ul>li{
    float: left;
    color: #b2b1b2;
    margin: 0 16px 0 16px;
}
.nav_box>nav>ul>li>a{
    font-size: 12px;
    padding: 4px 0;
    border-bottom: 2px solid transparent;
    font-weight: bold;
   
}
.nav_box>nav>ul>li>a:hover{
    border-bottom: 2px solid orangered;
}
.nav_box>.logo{
    float: left;
    font-size: 24px;
    font-weight:bolder;
    padding: 19px 0 9px;
    font-family: "Arial Black";
    
}
.nav_box>.logo>.rs{
color: #e6686a;
margin-right: 4px;
}
.nav_box>.logo>.card{
    color: #9A9DA2;
}
.nav_box{
    position: fixed;
   width:calc(100% - 24px);
    padding:0 12px;
}
.banner{
    background-image: url(../img/719351.jpg);
    height: 515px;
    background-position: center top;
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.7);
}
.userCard .picture{
    float: left;
}
.userCard .text{
    float: left;
    margin-left: 65px;
    width: 50%;
}
body main{
    margin-top:-300px;
}
.userCard{
    max-width: 940px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.2);
}
.userCard_1{
    padding: 50px;
}
.userCard .welcome{
    background-color: #5a5a5a;
    padding: 4px 16px; 
    position: relative;
    display: inline-block;
    line-height: 22px;
    margin-bottom: 10px;
    color: white;
}
.userCard .triangle{
    width: 0;
    border: 10px solid transparent;
    border-left-color: #5a5a5a;
    border-top-width: 0;
    display: block;
    position: absolute;
    top:100%;
    left: 4px;
}
.userCard .text h1{
    margin: 16px 0;
}
hr{
   margin: 20px 0;
   height: 0;
   border:none;
   border-top: 1px solid #DEDEDE;
}
.userCard .text dt{
    float: left;
    width: 30%;
    font-weight: bold;
    padding: 5px 0;
}
.userCard .text dd{
    float: left;
    width: 70%;
    color: #9da0a7;
    padding: 5px 0;
}
.userCard footer{
    background-color: #5a5a5a;
    text-align: center;
    display: block;
}
.userCard footer a{
   
    display: inline-block;
    padding: 5px 0;
    margin: 16px 16px;
    width: 40px;
    border-radius: 100%;
    line-height: 30px;
}
.userCard footer a:hover{
    background-color: #242424;
}
.userCard footer a svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}
.downloadButton{
    text-align: center;
    margin: 30px 0;
}
.downloadButton .button{
    padding: 21px 55px;
    border: 1px solid #cdcfd1;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 16px;
    color: #3d4451;
    transition: box-shadow 0.3s;
}
.downloadButton .button:hover{
    box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.2);
}
.resume{
    text-align: center;
    margin-bottom: 40px;
}
.resume p{
    font-family: "楷体";
    line-height: 1.4;
    font-size: 18px;
}
.skillTitle{
    text-align: center;
    margin-bottom: 20px;
    color: #3d4451;
    
}
.skillTitle h2{
    font-size: 18px;
}
section.skill{
    background-color: white;
    max-width: 940px;
    box-sizing: border-box;
    padding: 30px 50px;
    margin: 0 auto;

}
.skill li{
    float: left;
    width: 48%;
    margin: 10px 0;
}
.sectionbar{
    height: 5px;
    background-color: #9f9d9e;
    margin-top: 10px;
    border-radius: 2px;
}
.sectionbar_inner1{
    height: 100%;
    background-color: #242424;
    width: 70%;
    border-radius: 2px;
}
.sectionbar_inner2{
    height: 80%;
    background-color: #242424;
    width: 60%;
    border-radius: 2px;
}
.sectionbar_inner3{
    height: 100%;
    background-color: #242424;
    width: 90%;
    border-radius: 2px;
}
.sectionbar_inner4{
    height: 100%;
    background-color: #242424;
    width: 40%;
    border-radius: 2px;
}
.sectionbar_inner5{
    height: 100%;
    background-color: #242424;
    width: 60%;
    border-radius: 2px;
}
.sectionbar_inner6{
    height: 100%;
    background-color: #242424;
    width: 50%;
    border-radius: 2px;
}
.skill ol li:nth-child(even){
    float: right;
}
.skill h3{
    font-size: 14px;
    font-weight: normal;
}
.production h2{
    margin: 40px 0 20px;
    color: #3d4451;
    font-size: 16px;
}
.production{
    text-align: center;
    max-width: 940px;
    margin: 0 auto;
}
.production li{
    float: left;
    cursor: pointer;
    
}
.production nav{
    display: inline-block;
    vertical-align: top;
}
.production ol{
    display: inline-block;
    vertical-align: top;
}
.production li h3{
    font-size: 16px;
    font-weight: normal;
}
.production li:nth-child(2){
    margin: 0 20px;
}
.navBar_box{
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
    margin: 4px 0 20px 0px;
}
.navBar{
    height: 5px;
    background-color: black;
    border-radius: 2px;
    transition: all 0.3s;
}
.navBar_box.navBar1 .navBar{
    width: 31px;
    margin-left:0;
}
.navBar_box.navBar2 .navBar{
    width: 31px;
    margin-left:52px;
}
.navBar_box.navBar3 .navBar{
    width: 90px;
    margin-left:105px;
}
.production .works{
    width: 940px;
    height: 640px;
    position: relative;
    margin: 10px 0 40px 0;
}
.production .works .big{
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 640px;
}
.production .works .small1{
    position: absolute;
    top: 0;
    right: 0;
    width: 301px;
    height: 301px;
}
.production .works .small2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 301px;
    height: 301px;
}